<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    

    <h1>Create an item</h1>
    
    <form class="create-item-form" method="post" action="/create_item">
        <label>Name</label>
        <input type="text" name="name" />

        <label>Description</label>
        <input type="text" name="description" />

        <label>Category</label>
        <!-- <input type="text" name="category" /> -->
        <select>
            
        

        </select>

        <label>Price</label>
        <input type="number" name="price" />

        <label>Number in stock</label>
        <input type="number" name="numberInStock" />

        <label>aisle number</label>
        <input type="number" name="aisle" />

        <button type="submit">Submit</button>

    </form>

    <a href="/">Back to home</a>


</body>
</html>