<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Create a category form</h1>
    
    <form class="create-category-form" method="post" action="/create_category">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
    
        <label for="description">Description</label>
        <input type="text" id="description" name="description" />
    
        <button type="submit">Submit</button>
    </form>
    

    <a href="/">Back to home</a>


</body>
</html>