<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home Page</h1>


    <p>Welcome to our store</p>


     <h1>Browse Our Categories</h1>


    <% category_list.forEach((category) => { %>
        <p> <%= category.name %> </p>
       <% }) %> 




  </body>
</html>
