<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Category</title>
</head>
<body>
    
    <h1>Update a Category</h1>
    
    <form class="update-category-form" method="post" action="/update_category/<%= category._id %>" id="update-category-form">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%= category.name %>" required />
    
        <label for="description">Description</label>
        <input type="text" id="description" name="description" value="<%= category.description %>" required />
    
        <button type="submit">Submit</button>
    </form>

    <a href="/">Back to home</a>




</body>
</html>