body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.create-item-form,
.create-category-form,
.update-item-form { 
  display: flex;
  flex-direction: column;
}
